In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data_bit = pd.read_csv('/Users/kuzaowuwei/Desktop/2022美赛/赛中数据/1预测模型/data/BCHAIN-MKPRU.csv')
data_gold = pd.read_csv('/Users/kuzaowuwei/Desktop/2022美赛/赛中数据/1预测模型/data/LBMA-GOLD.csv')

         Date     Value
0     9/11/16    621.65
1     9/12/16    609.67
2     9/13/16    610.92
3     9/14/16    608.82
4     9/15/16    610.38
...       ...       ...
1821   9/6/21  51769.06
1822   9/7/21  52677.40
1823   9/8/21  46809.17
1824   9/9/21  46078.38
1825  9/10/21  46368.69

[1826 rows x 2 columns]